
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    <div> 
        HELLO THIS IS THE PAGE
    </div>
</body>
</html>
