@model Domain.Entities.AppUser
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>

    <div class="page-header">
        <legend><center><h1><b>Greetings, movie fan!</b></h1></center></legend>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi
            dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost
            rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labo
            re et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc
            o laboris nisi ut aliquip ex ea commodo consequat.
            <div>
                @Html.ActionLink("Check it out!", "Index", "SearchCinema")
            </div>
        </div>
    </div>  

</body>
</html>
