@model WebSite.Models.Cinema
@{
    Layout = null;
}
@using WebSite.HtmlHelpers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cinema</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    
    <p>@Model.Address</p>


    <p>@Html.ActionLink("Register Event", "Register", "RegisterEvent", new { cinemaId = Model.CinemaId }, null) </p>

</body>
</html>
